In [1]:
#Dependencies
import pandas as pd

In [2]:
#Dictionary to Dataframe
data = {'artist': ["Joji", "Niki", "Rich Brian", "Bibi", "Jackson Wang", "Chungha", "Stephanie Poetri", "Higher Brothers", "Milli", "Guapdad 4000"], 
        'monthly listeners': [30558290, 9941975, 8732222, 3559105, 2622139, 2729770, 1650576, 1552197, 1011185, 934638]}
new = pd.DataFrame.from_dict(data)
new

             artist  monthly listeners
0              Joji           30558290
1              Niki            9941975
2        Rich Brian            8732222
3              Bibi            3559105
4      Jackson Wang            2622139
5           Chungha            2729770
6  Stephanie Poetri            1650576
7   Higher Brothers            1552197
8             Milli            1011185
9      Guapdad 4000             934638

In [3]:
new.to_csv(f"./88Rising Monthly.csv", sep = ',')