In [1]:
# Import libraries
import glob
import pandas as pd

In [2]:
# Get CSV files list from a folder
path = './Mainstream DataSets/'
csv_files = glob.glob(path + "/*.csv")

In [3]:
print(csv_files)

['./Mainstream DataSets\\big_df.csv', './Mainstream DataSets\\Combined Mainstream Dataset.csv', './Mainstream DataSets\\This_Is_Bad_Bunny.csv', './Mainstream DataSets\\This_Is_David_Guetta.csv', './Mainstream DataSets\\This_Is_Dua_Lipa.csv', './Mainstream DataSets\\This_Is_Ed_Sheeran.csv', './Mainstream DataSets\\This_Is_Harry_Styles.csv', './Mainstream DataSets\\This_Is_Justin_Bieber.csv', './Mainstream DataSets\\This_Is_Rihanna.csv', './Mainstream DataSets\\This_Is_Sam_Smith.csv', './Mainstream DataSets\\This_Is_Taylor_Swift.csv', './Mainstream DataSets\\This_Is_The_Weeknd.csv']

In [4]:
# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
big_df   = pd.concat(df_list,join="outer")

In [5]:
big_df.head(1000)

,Unnamed: 0.1,ID,song name,album,artist,release_date,length(ms),popularity,acousticness,danceability,energy,liveness,tempo,valence,Unnamed: 0
0,0.0,0.0,Ojitos Lindos,Un Verano Sin Ti,Bad Bunny,2022-05-06,258298,93,0.0800,0.647,0.686,0.528,79.928,0.268,NaN
1,1.0,1.0,DespuÃ©s de la Playa,Un Verano Sin Ti,Bad Bunny,2022-05-06,230400,87,0.3560,0.564,0.903,0.175,78.293,0.607,NaN
2,2.0,2.0,Yonaguni,Yonaguni,Bad Bunny,2021-06-04,206710,86,0.2760,0.644,0.648,0.135,179.951,0.440,NaN
3,3.0,3.0,DÃKITI,DÃKITI,Bad Bunny,2020-10-30,205090,82,0.4010,0.731,0.573,0.113,109.928,0.145,NaN
4,4.0,4.0,Party,Un Verano Sin Ti,Bad Bunny,2022-05-06,227628,89,0.0151,0.829,0.799,0.242,97.013,0.471,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995.0,NaN,Small Bump,+,Ed Sheeran,2011-09-09,259413,63,0.6890,0.810,0.436,0.110,119.973,0.446,49.0
996,996.0,NaN,Barcelona,÷ (Deluxe),Ed Sheeran,2017-03-03,191146,64,0.4480,0.747,0.760,0.153,99.975,0.682,50.0
997,997.0,NaN,Touch and Go,x (Wembley Edition),Ed Sheeran,2013,240986,44,0.2940,0.812,0.542,0.141,110.268,0.733,51.0
998,998.0,NaN,Hearts Don't Break Around Here,÷ (Deluxe),Ed Sheeran,2017-03-03,248413,63,0.7190,0.604,0.366,0.162,105.177,0.181,52.0
999,999.0,NaN,Save Myself,÷ (Deluxe),Ed Sheeran,2017-03-03,247106,62,0.8500,0.552,0.290,0.227,78.842,0.481,53.0

In [6]:
big_df.to_csv(f"./Mainstream Datasets/big_df.csv", sep = ',')