In [47]:
import glob
import pandas as pd
from sqlalchemy import create_engine

In [74]:
# Get CSV files list from a folder
path = './DataSets'
csv_files = glob.glob(path + "/*.csv")
ind_dfs = (pd.read_csv(file) for file in csv_files)
aio_df   = pd.concat(ind_dfs, ignore_index=True)
aio_df.drop(['Unnamed: 0'], axis = 1, inplace = True) 
aio_df["id"] = aio_df.index + 1
aio_df

,song name,album,artist,featured,release_date,length(ms),popularity,acousticness,danceability,energy,liveness,tempo,valence,id
0,world.execute (me) ;,Miracle Milk,Mili,['Mili'],2016-10-12,211912,52,0.00453,0.522,0.817,0.3930,129.971,0.548,1
1,Rightfully (TV Animation Goblin Slayer opening),Rightfully (TV Animation Goblin Slayer opening),Mili,['Mili'],2018-11-18,213333,54,0.00423,0.390,0.724,0.1020,181.910,0.301,2
2,"In Hell We Live, Lament","In Hell We Live, Lament",Mili,"['Mili', 'KIHOW']",2021-12-21,223807,48,0.22800,0.450,0.558,0.2880,124.818,0.146,3
3,Mortal With You,Mortal With You,Mili,['Mili'],2022-07-06,235773,50,0.40200,0.381,0.525,0.0946,183.635,0.232,4
4,String Theocracy,To Kill a Living Book -for Library Of Ruina-,Mili,['Mili'],2021-10-29,174170,49,0.17400,0.655,0.780,0.3320,116.027,0.659,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,How We Used To,How We Used To,Stephanie Poetri,['Stephanie Poetri'],2021-01-14,169655,29,0.74100,0.721,0.490,0.1080,75.005,0.502,466
466,Little Lifetimes,oh to be in love,Stephanie Poetri,['Stephanie Poetri'],2022-03-18,158769,28,0.75900,0.352,0.350,0.1130,91.525,0.376,467
467,Appreciate - English Version,Appreciate (English Version),Stephanie Poetri,['Stephanie Poetri'],2019-04-19,235627,30,0.17400,0.664,0.831,0.1230,119.991,0.388,468
468,Daydreaming,AM:PM,Stephanie Poetri,['Stephanie Poetri'],2021-03-12,170181,23,0.82300,0.758,0.584,0.1800,109.949,0.631,469
469,Paranoia,AM:PM,Stephanie Poetri,['Stephanie Poetri'],2021-03-12,176080,24,0.34800,0.614,0.420,0.2120,150.054,0.336,470

In [92]:
aio_df = aio_df.rename(columns={'length(ms)': 'length_ms', 'song name': 'song_name'})

In [93]:
aio_df.dtypes

song_name               object
album                   object
artist                  object
featured                object
release_date    datetime64[ns]
length_ms                int64
popularity               int64
acousticness           float64
danceability           float64
energy                 float64
liveness               float64
tempo                  float64
valence                float64
id                       int64
dtype: object

In [94]:
aio_df = aio_df.astype({'release_date': 'datetime64'})

In [95]:
aio_df.dtypes

song_name               object
album                   object
artist                  object
featured                object
release_date    datetime64[ns]
length_ms                int64
popularity               int64
acousticness           float64
danceability           float64
energy                 float64
liveness               float64
tempo                  float64
valence                float64
id                       int64
dtype: object

In [80]:
csv_file = "../Resources/customer_data.csv"
df = pd.read_csv('./FinalDataSets/artist_info.csv', index_col=0)
df["id"] = df.index + 1
df.head()

,artist,url,artist_id,followers,genre,monthly_listeners,id
0,Joji,https://open.spotify.com/artist/3MZsBdqDrRTJih...,3MZsBdqDrRTJihTHQrO6Dq,7384722,['viral pop'],34369735,1
1,NIKI,https://open.spotify.com/artist/2kxP07DLgs4xlW...,2kxP07DLgs4xlWz8YHlvfh,2075512,"['indonesian r&b', 'pop']",9668996,2
2,Rich Brian,https://open.spotify.com/artist/2IDLDx25HU1nQM...,2IDLDx25HU1nQMKde4n61a,2094205,['indonesian hip hop'],8650936,3
3,BIBI,https://open.spotify.com/artist/6UbmqUEgjLA6jA...,6UbmqUEgjLA6jAcXwbM1Z9,584233,"['k-pop', 'korean r&b']",3564901,4
4,Jackson Wang,https://open.spotify.com/artist/1kfWoWgCugPkyx...,1kfWoWgCugPkyxQP8lkRlY,3482754,['k-pop'],3503326,5

In [81]:
follower_df = df[['id','artist', 'followers', 'monthly_listeners']].copy()
follower_df.head()

   id        artist  followers  monthly_listeners
0   1          Joji    7384722           34369735
1   2          NIKI    2075512            9668996
2   3    Rich Brian    2094205            8650936
3   4          BIBI     584233            3564901
4   5  Jackson Wang    3482754            3503326

In [82]:
follower_df.dtypes

id                    int64
artist               object
followers             int64
monthly_listeners     int64
dtype: object

In [83]:
genre_df = df[['id','artist','genre']].copy()
genre_df.head()

   id        artist                      genre
0   1          Joji              ['viral pop']
1   2          NIKI  ['indonesian r&b', 'pop']
2   3    Rich Brian     ['indonesian hip hop']
3   4          BIBI    ['k-pop', 'korean r&b']
4   5  Jackson Wang                  ['k-pop']

In [84]:
genre_df.dtypes

id         int64
artist    object
genre     object
dtype: object

In [85]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost'
port = 5432
database_name = 'artist_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [89]:
engine.table_names()

/var/folders/06/dlzbbxfn6tgfd6s50hkzfk3r0000gn/T/ipykernel_98085/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['genre_table', 'artist_feature_table', 'followers_table']

In [90]:
follower_df.to_sql(name='followers_table', con=engine, if_exists='append', index=False)

10

In [ ]:
genre_df.to_sql(name='genre_table', con=engine, if_exists='append', index=False)

10

In [96]:
aio_df.to_sql(name='artist_feature_table', con=engine, if_exists='append', index=False)

470